<!DOCTYPE html>
<html>
<head>

<link href="styles.css" rel="stylesheet"  media="all" type="text/css" />

<style>
  body {background-color: dimgray}
  h1   {color: tomato;}
  p    {color: black;}
</style>
</head>
<body>
	
<h1 >Administration area</h1>

  <p >You must register in the system.</p>

  <p ><%= @title %></p>
  <p><%= @message %></p>

  <form action="/admin" method="POST">

	  <p>You typed: <%= @login %></p>
	  <input type="text" name="login" />
	  <p>Your password: <%= @password %></p>
	  <input type="pasword" name="password" /></br>
	  </br>
	  <input type="submit" />
  </form>

  </br>
  </br>
  </br>
  <p><a href="/">Main page</a></p>

</body>

</html>
