<!DOCTYPE html>
<html>
<head>

<link href="styles.css" rel="stylesheet"  media="all" type="text/css" />

</head>

<body id="col_dimgray">
	
<h1 id="col_tomato">Administration area</h1>

  <p class="col_black">You must register in the system.</p>

  <p class="col_black"><%= @title %></p>
  <p class="col_black"><%= @message %></p>

  <form action="/admin" method="POST">

	  <p class="col_black">You typed: <%= @login %></p>
	  <input type="text" name="login" />
	  <p class="col_black">Your password: <%= @password %></p>
	  <input type="pasword" name="password" /></br>
	  </br>
	  <input type="submit" />
  </form>

  </br>
  </br>
  </br>
  <p class="col_black"><a href="/">Main page</a></p>

</body>

</html>
