<!DOCTYPE html>
<html>
<head>
  <title>Admin</title>
  
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

<link href="styles.css" rel="stylesheet"  media="all" type="text/css" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/vendor/jquery-1.9.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>


</head>

<body class="col_dimgray">
	
<h1 id="col_tomato">Administration area</h1>

  <p class="col_black">You must register in the system.</p>

  <p class="col_black"><%= @title %></p>
  <p class="col_black"><%= @message %></p>

  <form action="/admin" method="POST">
  
	  <p class="col_black">You typed: <%= @login %></p>
	  <input class="aaa" type="text" name="login" />
	  <p class="col_black">Your password: <%= @password %></p>
	  <input class="aaa" type="password" name="password" />
    <br/>
	  <br/>

	  <input type="submit" class="btn btn-warning"/>
  </form>

  <br/>
  <br/>
  <br/>

  <script type="text/javascript">
  $('.aaa').css('background-color','aliceblue');
  </script>
</body>

</html>
