<!DOCTYPE html>
<html>
<body>
  <title>Barbershop</title>

  <h1 style="text-align:center;">
       Welcome to Barber Shop!
  </h1>

  <p style="font-size:160%; text-align:center;" >We are opend!</p>

  <form action="/" method="POST">
    <p>Enter your name: </p>                
  	<input type="text" name="user_name" /> 
    <p>Enter your phone: </p>              
  	<input type="text" name="phone" />     
    <p>Enter date and time: </p>   
  	<input type="text" name="date_time" /> </br>
                                           </br>
  	<input type="submit" />

  </form>
</body>
</html>


