<!DOCTYPE html>
<html>
<head>

 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>


<link href="styles.css" rel="stylesheet"  media="all" type="text/css" />

</head>

<body class="col_a">

  <title>Barbershop</title>

  <h1 class="col_silver">Welcome to Barber Shop!</h1>

  <p class="col_silver" style="font-size:160%; text-align:center;" >We are opend!
  </p>
  

  <div>
    <img src="https://barber-shop.su/wp-content/uploads/2019/04/kak-podobrat-strigku.jpg" alt="Haircut-1" width="220" height="188">

    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRm_vagQcFG491jHUY5v0nYO9WJfht3BbYGag&usqp=CAU" alt="Haircut-2" width="188" height="188">
  
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvIdmOXWuCsMM3c0HhsWinnrmEmz4qPGL0bQ&usqp=CAU" alt="Haircut-3" width="188" height="180">

    <img src="https://static.tildacdn.com/tild6266-6139-4531-b431-313864393461/06-a-French-crop-wit.jpg" alt="Haircut-4" width="188" height="188">
  </div>
   </br>
   </br>

  <form action="/" method="POST">
    <p class="col_silver">Enter your name: </p>                
  	<input type="text" name="user_name" /> 
    <p class="col_silver">Enter your phone: </p>              
  	<input type="text" name="phone" />     
    <p class="col_silver">Enter date and time: </p>   
  	<input type="text" name="date_time" /> </br>
                                           </br>
  	<input type="submit" class="btn btn-secondary"/></br>   
  </form>
  
  </br>
  </br>
  <p ><a href="/logfile">Appointment for a haircut</a></p>
  <p ><a href="/admin">Administration area...</a></p>

</body>

</html>


