<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: teal}
h1   {text-align:center; color: black;}
p    {font-size:130%; color: silver;}
</style>
<body>
  <title>Barbershop</title>

  <h1 >Welcome to Barber Shop!</h1>

  <p style="font-size:160%; text-align:center;" >We are opend!</p>

  <form action="/" method="POST">
    <p>Enter your name: </p>                
  	<input type="text" name="user_name" /> 
    <p>Enter your phone: </p>              
  	<input type="text" name="phone" />     
    <p>Enter date and time: </p>   
  	<input type="text" name="date_time" /> </br>
                                           </br>
  	<input type="submit" /></br>   
  </form>
  
  </br>
  </br>
  </br>
  </br>
  <p><a href="/logfile">Appointment for a haircut</a></p>
  <p><a href="/admin">Administration area...</a></p>

</body>
</head>
</html>


