<!DOCTYPE html>
<html>
<head>
<body>
<style>
body {background-color: azure;}
h2   {text-align:center; color: salmon ;}
p    {font-size:130%; color: black;}
</style>

<h2>Appointment for a haircut:</h2>

  <p><%= @log %></p>  

  <p><a href="/admin">Back</a></p>

  <p><a href="/">Main page</a></p>

</body>
</head>
</html>
