<!DOCTYPE html>
<html>
<head>

<link href="styles.css" rel="stylesheet"  media="all" type="text/css" />


</head>

<body class="col_ws">


  <h1 class="col_black"><%= @title %></h1>

  <p class="col_sg" style="text-align:center;">
       <%= @message %>   
  </p>

  <p class="col_sg"><a href="/">Back</a></p>

</body> 

</html>


