<!DOCTYPE html>
<html>
<head>

<link href="styles.css" rel="stylesheet"  media="all" type="text/css" />
<style>

  body {background-color: whitesmoke}
  h1   {text-align:center; color: black;}
  p    {font-size:130%; color: slategray;}
</style>

</head>

<body>
  

  <h1><%= @title %></h1>

  <p style="text-align:center;"><%= @message %></p>

  <p><a href="/">Back</a></p>

</body> 

</html>


