<!DOCTYPE html>
<html>
<head>
<head>
<style>
  body {background-color: whitesmoke}
  h1   {text-align:center; color: black;}
  p    {font-size:130%; color: slategray;}
</style>

<body>
<body>

  <h1><%= @title %></h1>

  <p style="text-align:center;"><%= @message %></p>

  <p><a href="/">Back</a></p>

</body> 
</head>
</html>


