<!DOCTYPE html>
<html>
<head>

<link href="styles.css" rel="stylesheet"  media="all" type="text/css" />


</head>

 <body class="col_azure">

<h1 class="col_lgreen">Protected zone</h1>

  <p class="col_gray"><%= @title %></p>

  <p class="col_gray"><%= @message %></p>

	<p class="col_gray">You typed:    <%= @login %></p>
	<p class="col_gray">Your password:  ****** </p>

	
   <p><a href="/logfile">Logfile</a></p>
  <p><a href="/">Main page</a></p>

  </form>
</body>
</html>
