<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: 	azure;}
h1   {text-align:center; color: limegreen;}
h2   {text-align:center; color: gray;}
p    {font-size:130%; color: gray;}
</style>
</head>

<body>

<h1 >Protected zone</h1>

  <p ><%= @title %></p>

  <p><%= @message %></p>

	<p>You typed:    <%= @login %></p>
	<p>Your password:  ****** </p>

	
   <p><a href="/logfile">Logfile</a></p>
  <p><a href="/">Main page</a></p>

  </form>
</body>
</html>
